@using EventManager.DAL.Enums
@model EventManager.BL.DTOs.Registrations.RegistrationDTO

@{
    ViewBag.Title = "Pay";
}

<h2>Payment service</h2>


@using (Html.BeginForm("Pay", "Payment", FormMethod.Post))
{
<div class="form-horizontal">
    <h4>Some payment service which allow user to pay fee for registration in event.</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.EventId)
    @Html.HiddenFor(model => model.UserId)

    <div class="form-group">
        <div class="col-md-10">
            <p>Something will happen here.</p>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Pay" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Event", "Detail", "Event", new { id = Model.EventId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
