@model EventManager.BL.DTOs.Events.EventPagedListResultDTO

@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-4">
        <p>
            Something will be here. Probable events in future.
        </p>
    </div>
    <div class="col-md-8">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ResultPageData.First().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResultPageData.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResultPageData.First().Lecturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResultPageData.First().Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResultPageData.First().Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResultPageData.First().End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResultPageData.First().Capacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResultPageData.First().Fee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResultPageData.First().AddressId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResultPageData.First().UserId)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.ResultPageData)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lecturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Detail", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>